
.underline {
	text-decoration: underline wavy #302;
	text-underline-offset: 8px;
}

.card {
	border-radius: 0;
	border: 2px solid #000;
}

.card-header {
	background: #222;
	border-radius: 0 !important;
	color: #f90;
}
